@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
$black-color: #000000;
$white-color: #ffffff;
$orange-color: #ffa500;
$light-blue: rgb(81, 194, 247);
$light-grey: rgb(195, 194, 194);
$blue-color: #0077cd;
$light-black: rgb(55, 63, 80);
$metallic-purple: rgb(78, 84, 200);
$fade-grey: #4b566b;
$dark-red: #fe3638;
$grey: #808080;
$chrome-grey: #373f50;
$primary-color: #fe696a;
$zilla-blue: #465cfc;
$nav-color: #94bbe9;
$border-grey: #8f8f8f;
$clr-sea-text: #12b0a5cc;
$bg-pale-pink: #ffbcd0;
$link-btn-clr: #383fdc;
$error-mssg:#ff484b;

// Box-shadows
$box-shadow: rgba(black, 0.67);
$border: 2px solid $black-color;

// Font-family
$RobotoSlab: "Roboto Slab", serif;
$Noto: "Noto Sans", sans-serif;
$openSans: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
