@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Roboto+Slab&display=swap");
// Colors
$black-color: black;
$white-color: white;
$orange-color: orange;
$light-blue: rgb(81, 194, 247);
$light-grey: rgb(195, 194, 194);
$blue-color: #0077cd;
$red-color: red;
$light-black: rgb(55, 63, 80);
$metallic-purple: rgb(78, 84, 200);
$fade-grey: #4b566b;
$dark-red: #fe3638;
$grey: grey;
$chrome-grey: #373f50;
$primary-color:#fe696a;
$zilla-blue: #465cfc;
$nav-color: #94bbe9;
$border-grey:#8f8f8f;


// Box-shadows
$box-shadow: rgba(black, 0.67);
$border: 2px solid $black-color;

// Font-family
$RobotoSlab: "Roboto Slab", serif;
$Noto: "Noto Sans", sans-serif;
$openSans: "Open Sans", sans-serif;
