.store-account {
  min-height: calc(100vh - 50vh - 20px);

  &__container {
    @include Container();
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 34px 0;

    @include devices(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    margin-right: 10px;
    &-body {
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      padding: 14px;
    }
    &-link {
      display: flex;
      align-items: center;
      padding: 24px 0;
      &-text {
        margin-right: 15px;
        // margin-bottom: 10px;
      }

      &-media {
        background: #f3f5f9;
        margin-left: 12px;
        padding: 10px;
        border-radius: 8px;
        color: #4b566b;
      }
    }
  }
  &__form {
    &-control {
      padding: 20px 0;
      &-validation {
        position: relative;

        &-mail {
          position: absolute;
          left: 0;
          top: 20px;
          margin-left: 10px;
        }
        &-password {
          position: absolute;
          left: 0;
          top: 20px;
          margin-left: 10px;
        }
        &-text {
          width: 100%;
          padding: 10px 40px;
          font-size: 16px;
          margin-top: 8px;
          margin-bottom: 12px;
        }
      }
    }
  }
}

.bg-grey {
  font-size: 18px;
}

.bg-google {
  &:hover {
    background: #f46b6b;
    color: $white-color;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(252, 113, 113, 0.9);
    transition: all 0.5s ease;
  }
}

.bg-facebook {
  &:hover {
    background: #3b5998;
    color: $white-color;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(80, 118, 255, 0.9);
    transition: all 0.5s ease;
  }
}
.bg-twitter {
  &:hover {
    background-color: #1da1f2;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(29, 161, 242, 0.9);
    color: $white-color;
  }
}
