.store-account {
  min-height: calc(100vh - 50vh - 20px);
  background: url(../../Images/colorful-paper-shopping-bags-blue-surface.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    @include Container();
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 34px 0;
    min-height: 650px;

    @include devices(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    max-width: 58px;
    max-height: 45px;
  }

  &__card {
    display: flex;
    justify-content: center;
    padding: 46px 0;
    &-body {
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
      background: $white-color;
      border-radius: 6px;
      padding: 34px;
      height: 100%;
      min-width: 100%;
      color: $black-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include devices(tablet) {
        min-width: 550px;
      }
    }
    &-title {
      font-size: 42px;
      font-weight: 600;
      font-family: $font-montserrat;
      margin-top: 22px;
      color: $blue-color;
    }

    &-loginoptions {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-link {
      display: flex;
      align-items: center;
      margin: 24px 0;
      gap: 16px;
      &-text {
        color: $black-color;
        font-size: 16px;
        font-weight: 600;
        font-family: $font-montserrat;
      }
      &-media {
        background: #f3f5f9;
        padding: 10px;
        border-radius: 8px;
        width: 40px;
        text-align: center;
        color: #4b566b;
      }
    }
  }
  &__form {
    width: 100%;
    &-control {
      display: flex;
      gap: 24px;
      flex-direction: column;
      position: relative;
      p{
        font-size: 14px;
        font-weight: 600;
        font-family: $font-montserrat;
      }
      &-validation {
        position: relative;
        &-text {
          width: 100%;
          padding: 10px 40px;
          font-size: 16px;
          border-radius: 5px;
          border: 2px solid $border-grey;
          :focus {
            outline: none;
            border: 0;
          }
        }
      }
      &-icons {
        position: absolute;
        left: 0;
        top: 12px;
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }
}

.bg-grey {
  font-size: 18px;
}

.bg-google {
  &:hover {
    background: #f46b6b;
    color: $white-color;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(252, 113, 113, 0.9);
    transition: all 0.5s ease;
  }
}

.bg-facebook {
  &:hover {
    background: #3b5998;
    color: $white-color;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(80, 118, 255, 0.9);
    transition: all 0.5s ease;
  }
}
.bg-twitter {
  &:hover {
    background-color: #1da1f2;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(29, 161, 242, 0.9);
    color: $white-color;
  }
}

// Error mssg
.fieldmssg-error {
  color: $error-mssg;
  font-size: 14px;
  font-weight: 400;
  font-family: $RobotoSlab;
  padding-top: 8px;
}
