.products-listed {
  background: lightcyan;
  &--container {
    flex-wrap: wrap;
    @include container(flex, space-around, center);
    @include devices(tablet) {
      flex-wrap: nowrap;
    }
    &-best {
      padding: 16px 14px;
      width: 100%;
      @include devices(tablet) {
        width: 33.3%;
      }
      &-items {
        padding-right: 10px;

        &-list {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(146, 146, 146, 0.3);
          padding-bottom: 10px;
          padding-top: 14px;
          gap: 8px;
        }
      }

      &-links-more {
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: #fe696a;
        &:hover {
          color: $dark-red;
          transition: all 0.65s ease;
        }
      }
    }

    &-new {
      padding: 16px 14px;
      width: 100%;
      @include devices(tablet) {
        width: 33.3%;
      }
      &-items {
        padding-right: 10px;
        &-list {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(146, 146, 146, 0.3);
          padding-bottom: 10px;
          padding-top: 14px;
        }
      }
      &-links-more {
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: #fe696a;

        &:hover {
          color: $dark-red;
          transition: all 0.65s ease;
        }
      }
    }
    &-top {
      padding: 16px 14px;
      width: 100%;
      @include devices(tablet) {
        width: 33.3%;
      }
      &-items {
        padding-right: 10px;

        &-list {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(146, 146, 146, 0.3);
          padding-bottom: 10px;
          padding-top: 14px;
        }
      }
      &-links-more {
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: #fe696a;
        &:hover {
          color: $dark-red;
          transition: all 0.65s ease;
        }
      }
    }
  }

  &--links {
    a {
      display: block;
      color: $black-color;
      &:hover {
        transition: all 0.4s ease-in;
        color: #fe3638;
      }
      @media screen and (width >= 770px) {
        font-size: 12px;
      }
    }

    &-price {
      color: $metallic-purple;
      font-size: 12px;
      font-weight: 500;
      font-family: $RobotoSlab;
    }
  }

  &--images {
    max-width: 100%;
    max-height: 64px;
  }
}

.arrow {
  transform: rotate(90deg);
  font-size: 18px;
}
