.logo-slider {
  margin-bottom: 20px;
  &-container {
    @include container(flex, center, center);
    .swiper-wrapper {
      align-items: center;
      .logo-slider-wrapper {
        border: 1px solid #e3e9ec;
        padding: 50px;

        &-img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
