.productdetails {
  &__container {
    @include container(flex, space-between, center);
  }
  &__card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 70px 0;
    flex-wrap: wrap;
    &_img {
      max-width: 100%;
      display: block;
      max-height: 380px;
      img {
        object-fit: contain;
      }
    }
    &_body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 14px;
      padding: 0 25px;
      width: 50%;
    }
    &_title {
      padding-bottom: 12px;
    }
    &_btn {
      width: 30%;
      margin-top: 20px;
      display: block;
      margin-right: auto;
    }
    @include devices(tablet) {
      flex-wrap: nowrap;
    }
  }
}
