.products {
  margin-top: 35px;
  margin-bottom: 70px;
  min-height: calc(100vh - 50vh - 56px);

  &__main-container {
    @include container(flex, center, flex-start);
    flex-direction: column;
    gap: 12px;

    @include devices(tablet) {
      flex-direction: row;
    }
  }

  &__filter {
    width: 100%;

    @include devices(tablet) {
      width: 30%;
    }
    &-category {
      text-align: center;
      width: 100%;

      &--options {
        width: 100%;

        &-dropdown {
          &-items {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-top: 8px;
          }
        }
      }
    }
    &-price {
      text-align: center;
      h1 {
        color: $clr-sea-text;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    row-gap: 12px;

    &--cards {
      width: 100%;
      cursor: pointer;
      color: $black-color;
      padding-right: 12px;

      @include devices(tablet) {
        width: 33.33%;
      }

      &-content {
        padding: 14px 10px;
        margin: auto;
        background: $white-color;
        border-radius: 12px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.27);

        &:hover {
          // box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.37);
          border-radius: 9px;
          transition: all 0.7s ease;
        }
      }

      &-image {
        display: block;
        width: 100%;

        img {
          width: 100%;
          object-fit: contain;
          max-height: 100%;
          height: 200px;
        }
      }

      &-category {
        font-size: 12px;
        text-transform: capitalize;
        color: $light-black;
        font-weight: 600;
      }

      &-title {
        text-align: left;
        font-family: $Noto;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;

        @include devices(tablet) {
          font-size: 12px;
        }
      }

      &-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      &-text {
        &-price {
          color: #4e54c8;
          font-size: 14px;
          opacity: 1;
        }
      }

      &-cart-btn {
        color: $white-color;
        text-align: center;
      }
    }
  }

  &__filter--category {
    padding-bottom: 30px;

    &-container {
      @include container(flex, space-around, center);
    }
  }

  .page-btn {
    text-align: center;
    max-width: 1320px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    gap: 8px;
    justify-content: center;

    &__number {
      padding: 8px 2px;
      margin: 0 4px;
      border-radius: 20%;
      font-size: 16px;
      font-weight: 700;
      border: 0;
      width: 30px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.27);
      color: $white-color;
    }
    button.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }
    @include devices(tablet) {
      justify-content: flex-end;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;

  &__body {
    padding: 28px 10px;
  }

  &__category {
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 12px;
  }

  &__loader {
    @include container(flex, center, center);
    width: 100%;
    margin-top: 12px;

    &-btn {
      background: rgb(255 241 241);
      color: $black-color;
    }
  }
}

.filters-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  background: transparent;
  color: $clr-sea-text;
  text-align: left;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    // background: $white-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.cart {
  margin-right: 10px;
}
