.product__banner {
  background-color: #f6f9fc;
  padding: 48px 0;
  &--container {
    @include container(flex, space-between, center);
    flex-direction: column;
    // align-items: center;
    @include devices(tablet) {
      flex-direction: column;
    }

    @include devices(desktop) {
      flex-direction: row-reverse;
    }
  }

  &--text {
    text-align: center;
    width: 100%;
    padding: 14px 12px;
    opacity: 0;
    margin: 0;
    margin-left: 0;
    overflow: hidden;
    
    @include devices(tablet){
      text-align: start;
    }

    @include devices(desktop) {
      width: 50%;
      margin-left: 70px;
      text-align: start;
    }

    &-delay {
      font-size: 32px;
      color: $light-black;
      padding-bottom: 10px;
      font-weight: 300;

      @include devices(tablet) {
        font-size: 32px;
      }
    }

    &-bold {
      font-size: 32px;
      color: $light-black;
      padding-bottom: 10px;

      @include devices(tablet) {
        font-size: 54px;
        padding-bottom: 5px;
      }
    }

    &-light {
      font-size: 18px;
      color: $light-black;
      font-weight: 300;
      margin-bottom: 12px;
      padding-bottom: 12px;

      @include devices(tablet) {
        font-size: 22px;
      }
    }
  }

  &-btn-red {
    margin: auto;
    text-align: center;
    background-color: #fe696ae6;
    padding: 12px 20px;
    box-shadow: 2px 2px 18px rgba(253, 162, 162, 0.683);
    border-radius: 6px;
    color: $white-color;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    margin: auto;
    width: 40%;

    @include devices(tablet){
      margin-right: 0;
      margin-left: 0;
      flex-grow: 0;
      width: 30%;
    }
    
    &:hover{
      background:#fe4042;
      transition: color 0.4ms ease-in;
    }
  }

  &--slide {
    width: 100%;
    padding: 0;
    display: flex;
    @include devices(tablet) {
      width: 100%;
      align-items: center;
    }
    &-images {
      width: 100%;
      margin: 0 12px;
      @include devices(tablet) {
        width: 50%;
      }
    }
    &-img {
      width: 100%;
      @include devices(tablet) {
        width: 100%;
      }
    }
  }

  &--slider {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    @include devices(tablet) {
      width: 80%;
    }
  }

  &--sidepanel {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    margin-top: 14px;

    @include devices(tablet) {
      width: 100%;
    }

    @include devices(desktop) {
      width: 20%;
    }

    &-text {
      padding: 35px 10px;
    }
    &-cam {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;

      background-color: rgba(221 235 249 / 45%);
      @include border(0, 8px);

      @include devices(tablet) {
        margin-bottom: 26px;
        // padding: 0 10px;
        // margin-right: 12px;
        &-link {
          display: flex;
          align-items: center;
          padding-top: 12px;
        }
      }

      img {
        max-width: 130px;
        max-height: 100%;
        object-fit: cover;
      }
      &-arrow {
        transform: rotate(90deg);
        font-size: 18px;
      }
    }
    &-gadgets {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      background-color: rgba(254 165 105 / 10%);
      @include border(0, 8px);

      @include devices(tablet) {
        margin-bottom: 26px;
        // padding: 0 10px;
        // margin-right: 12px;
        &-link {
          display: flex;
          align-items: center;
          padding-top: 10px;
        }
      }

      img {
        max-width: 130px;
        max-height: 100%;
        object-fit: cover;
      }
      &-arrow {
        transform: rotate(90deg);
        font-size: 18px;
      }
    }
    &-earbuds {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-right: 12px;

      background-color: rgba(66 214 151 / 10%);
      @include border(0, 8px);

      @include devices(tablet) {
        margin-bottom: 26px;
        // padding: 0 10px;
        // margin-right: 12px;
        &-link {
          display: flex;
          align-items: center;
          padding-top: 10px;
        }
      }

      img {
        max-width: 130px;
        max-height: 100%;
        object-fit: cover;
      }
      &-arrow {
        transform: rotate(90deg);
        font-size: 18px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      // padding: 0 12px;
      @include devices(tablet) {
        width: 100%;
        overflow: hidden;
      }
      @include devices(desktop) {
        flex-direction: column;
      }
    }
    &-wrapper::-webkit-scrollbar {
      display: none;
    }
  }
}

.slider {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: flex-end;

  @include devices(tablet) {
    flex-direction: row;
    padding: 12px;
  }
}

.swiper-slide-active .product__banner--text {
  animation: fadeRight 1.7s ease-in-out forwards;
  transition: all 0.7ms ease;
}

@keyframes fadeRight {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.shop-link {
  @include container(flex, space-between, center);
  flex-direction: column;
  padding-top: 45px;

  &-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    border-bottom: 1px solid #e3e9ef;

    &-trigger {
      @include border(1px solid #4e54c8, 4px);
      // margin-bottom: 18px;
      &:hover {
        background: #4e54c8;
        color: $white-color;
        transition: all 0.4s ease-in-out;
      }
      &-links {
        display: flex;
        align-items: center;
        padding: 8px 18px;
        color: #4e54c8;
        font-size: 14px;
        &:hover {
          color: $white-color;
        }
      }
    }
  }

  &-title {
    margin-bottom: 12px;
  }
}
